# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore .env file for security reasons
.env

# Ignore virtual environment folder
cenv/

# Ignore .vscode and .idea folders
.vscode/
.idea/

# Ignore any test files in app directory
app/test/
app/__pycache__/
